numpy==1.21.6
chumpy==0.70
joblib
scikit-image
opencv-python
imageio[ffmpeg]
matplotlib
tensorboard
smplx
progress
einops
mmcv==1.3.9
timm==0.4.9
munkres
xtcocotools>=1.8
loguru
setuptools==59.5.0
tqdm
ultralytics
gdown==4.6.0
yacs==0.1.8
flatten-dict==0.4.2
trimesh
kornia
plotly
streamlit
fastapi
pydantic
uvicorn
ffmpeg-python